<div class="main-content">
  <div class="card card-plain">
    <div class="card">
      <div class="card-body text-center">
        <div class="card-body">
          <!-- <div class="row"> -->
            <div class="col-md-6 ml-auto mr-auto">
              <div class="card">
                <div class="card-body text-center">
                  <div class="form-group">
                    <select class="form-control">
                      <option class="hidden"  selected disabled>Choose Semester</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body text-center">
                  <div class="form-group">
                    <select class="form-control">
                      <option class="hidden"  selected disabled>Choose Laboratory Name</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          <!-- </div> -->
          
            <!-- <div class="card-body text-center"> -->
              <input type="submit" class="btn btn-success btn-lg"  value="View Material"/>
            </div>
          <!-- </div>     -->
        
      </div>
    </div>
  </div>  
</div>
