<div class="main-content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row"> 
         
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control">
              <option class="hidden"  selected disabled>Department</option>
              <option>Computer SCience and Engineering</option>
              <option>Electrical and Communication Engineering</option>
              <option>Electrical and Electronics Engineering</option>
              <option>Electrical and INstrumentation Engineering</option>
              <option>Bio-Medical Engineering</option>
              <option>Civil Engineering</option>
              <option>Information Technology</option>
              <option>Mechanical Engineering</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option class="hidden"  selected disabled>Semester</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
          </div>
        </div>
      
         
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control">
              <option class="hidden"  selected disabled>Year</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option class="hidden"  selected disabled>Internal</option>
              <option>Internal-1</option>
              <option>Internal-2</option>
              <option>Internal-3</option>
            </select>
          </div>
          <input type="submit" class="btn btn-success" value="Go">
        </div>
        
        </div> 
      </div>  
    </div>
  </div>
</div>
